body{
    padding:0;
    margin:0;
    position:relation
    }
    html{
        scroll-behavior: smooth;
    }
    
     ul{
        list-style-type: none;
        font-size:larger;
        font-family: Arial,Helvetica,sans-serif;
        font-style:normal;
    }
    li{
        display: inline-block;
        padding:5px;
    
    }
    ul li a{
        font-style: normal;
        text-decoration: none;
    }
    nav{
        border:1px black;
        width: 100%;
        position: fixed;
        top:0;
        background-color: black;
        text-align:right;
    
    }
    main{
        text-align: center;
        margin: 100px;
    }
    #home{
        width: 90vw;
        height:90vh ;
        background-color:rgb(38, 196, 38) ;
    }
    .container{
        content:"";
        position: absolute;
        top:0;
        left:0;
        height: 100%;
        width: 100%;
        background-image: url("../image/image.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 0.2;
    }
    body{
        background-color: rgb(60, 8, 203);
    }
    
    
    